@font-face {
  font-family: "Gelion";
  src: url("../fonts/Gelion/Gelion-Regular.eot");
  src: url("../fonts/Gelion/Gelion-Regular.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Gelion/Gelion-Regular.woff") format("woff"),
    url("../fonts/Gelion/Gelion-Regular.ttf") format("truetype"),
    url("../fonts/Gelion/Gelion-Regular.svg#Gelion-Regular") format("svg");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Gelion";
  src: url("../fonts/Gelion/Gelion-SemiBold.eot");
  src: url("../fonts/Gelion/Gelion-SemiBold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Gelion/Gelion-SemiBold.woff") format("woff"),
    url("../fonts/Gelion/Gelion-SemiBold.ttf") format("truetype"),
    url("../fonts/Gelion/Gelion-SemiBold.svg#Gelion-SemiBold") format("svg");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Gelion";
  src: url("../fonts/GelionGelion-Medium.eot");
  src: url("../fonts/Gelion/Gelion-Medium.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Gelion/Gelion-Medium.woff") format("woff"),
    url("../fonts/Gelion/Gelion-Medium.ttf") format("truetype"),
    url("../fonts/Gelion/Gelion-Medium.svg#Gelion-Medium") format("svg");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Gelion";
  src: url("../fonts/Gelion/Gelion-Bold.eot");
  src: url("../fonts/Gelion/Gelion-Bold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Gelion/Gelion-Bold.woff") format("woff"), url("../fonts/Gelion/Gelion-Bold.ttf") format("truetype"),
    url("../fonts/Gelion/Gelion-Bold.svg#Gelion-Bold") format("svg");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Red Hat Display";
  src: url("../fonts/RedHatDisplay/RedHatDisplay-Bold.eot");
  src: url("../fonts/RedHatDisplay/RedHatDisplay-Bold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/RedHatDisplay/RedHatDisplay-Bold.woff") format("woff"),
    url("../fonts/RedHatDisplay/RedHatDisplay-Bold.ttf") format("truetype"),
    url("../fonts/RedHatDisplay/RedHatDisplay-Bold.svg#RedHatDisplay-Bold") format("svg");
  font-weight: 700;
  font-style: normal;
}

:root {
  --text-color: #4b4f51;
  --green-color: #035755;
  --header-btn-color: #ff383d;
  --button-bg: #fb4c47;
  --minor-button-color: #fa5652;
  --minor-button-bg: rgba(250, 86, 82, 0.15);
}

*,
*::before,
**::after,
h1,
h2,
h3,
h4 {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  margin-block-end: 0px;
  margin-block-start: 0px;
  padding-block-end: 0px;
  padding-block-start: 0px;
}

a:hover{
  color: #F44A45;
}

html {
  box-sizing: inherit;
}

img {
  display: inline-block;
}

ul {
  padding: 0px;
  margin: 0px;
  list-style: none;
}

a {
  padding-top: 20px;
  padding-bottom: 20px;

  text-decoration: none;
  transition: all 150ms linear 10ms;

}
.flex {
  display: flex;
}

.container {
  width: 1420px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;

  outline: 1px solid green;
}

.title {
  font-family: "Red Hat Display", sans-serif;
  font-weight: 700;
  font-size: 29px;
  line-height: 1.24;
  color: #fa5652;
}

.title > span {
  color: var(--green-color);
  font-size: 50px;
}

body {
  font-family: "Gelion", sans-serif;
  font-style: 400;
  font-weight: normal;
  font-size: 20px;
  line-height: 2.15;
}
.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-family: " Red Hat Display", sans-serif;
  font-weight: 700;
  font-size: 19px;
  line-height: 1.316;
  text-transform: uppercase;
  color: var(--green-color);

  display: inline-flex;
  align-items: center;
  width: 100%;
}

.nav {
  font-family: "Gelion", sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  color: var(--header-btn-color);

  display: inline-flex;
  align-items: center;
  margin-left: auto;
}

.link {
  font-family: "Gelion", sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  color: var(--green-color);
}

.nav-item:not(:last-child) {
  margin-right: 50px;
}

.link.current {
  color: var(--header-btn-color);
}

.button {
  font-family: "Gelion", sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  padding: 16px 45px;
  background-color: transparent;
  border: 2px solid #fb4c47;
  border-radius: 46px;

  display: inline-flex;
  align-items: center;
}

.header-button {
  color: var(--header-btn-color);
  margin-left: 40px;
  transition: all 150ms linear 10ms;
}
.header-button:hover{
  color: #fff;
  background-color: #fb4c47;
}

/*  !HERO */
.hero {
  padding-top: 215px;
  padding-bottom: 215px;
  background-image: url(../img/hero/hero-bg.jpg);
  background-repeat: no-repeat;
  background-position: right center;
}

.hero-title {
  font-family: "Red Hat Display", sans-serif;
  font-weight: 700;
  font-size: 32px;
  line-height: 1.22;
  color: #fa5652;
  width: 400px;
  margin-bottom: 95px;
  text-transform: capitalize;
}
.hero-text {
  font-family: "Gelion", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 1.9;
  color: var(--text-color);
  text-transform: capitalize;
  width: 650px;
  margin-bottom: 55px;
}

.hero-button {
  color: #fff;
  background-color: #fb4c47;
  transition: all 150ms linear 10ms;
}
.hero-button:hover{
background-color: transparent;
color: #fb4c47;
}

/*  OVERVIEW */
.overview{
  padding-bottom: 130px;
  background-image: url(../img/overview/overview.jpg);
  background-repeat: no-repeat; 
  background-position: 0 -100px;
  background-size: 700px;
}

.overview-img{
  display: inline-flex;
  max-width: 40%;
}
.overview-section {
  margin-left: 750px;

}
.overview-button {
  color: #fa5652;
  background: rgba(250, 86, 82, 0.15);
  transition: all 150ms linear 10ms;
}
.overview-button:hover{
  background-color: #fff;
}

.overview .title {
  font-family: Red Hat Display;
  font-weight: 700;
  font-size: 29px;
  line-height: 1.24;
  color: #fa5652;
  text-align: left;
  max-width:288px;
}

.overview-text{
  width: 650px;
  height: 200px;
  margin-bottom: 55px;
  font-family: "Gelion";
  font-size: 20px;
  line-height: 2.15;
  text-transform: capitalize;
  color: #4B4F51;
}
.section-text {
  font-family: "Gelion";
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 2.15;
  text-transform: capitalize;
  color: #4b4f51;

  width: 577px;
  margin: 0 auto;
  margin-bottom: 115px;

}
/* !CONTAGION*/
.contagion .title{
  width: 250px;
  margin: 0 auto;
  margin-bottom: 24px;
}
.contagion-list {
  display: flex;
  flex-wrap: wrap;
}

.contagion-item {
  display: inline-flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: calc(100% / 3 - 30px);
  min-height: 575px;
  background: #ffffff;
  box-shadow: 0px 5px 80px rgba(0, 0, 0, 0.08);
  border-radius: 0px 0px 10px 10px;
  border-bottom: 6px solid  rgba(0, 0, 0, 0.3);

  text-align: center;
  padding-top: 50px;
  padding-bottom: 75px;
  padding-left: auto;
  padding-right: auto;
}
.contagion-item:hover,
.contagion-item:focus {
  border-bottom: 6px solid #fa5652;
}
.contagion-item:not(:last-child) {
  margin-right: 30px;
}

.contagion-item::before {
  content: "";
  display: block;
  width: 270px;
  height: 250px;
  margin: 0 auto 60px;
  background-position: center center;
  background-size: contain;}

  .contagion-item:nth-child(1)::before {
    background-image: url(../img/contagion/contagion1.jpg);
  }
  .contagion-item:nth-child(2)::before {
    background-image: url(../img/contagion/contagion2.jpg);
  }
  .contagion-item:nth-child(3)::before {
    background-image: url(../img/contagion/contagion3.jpg);
  }

.contagion .container {
  text-align: center;
}
.contagion-title {
  width: 100%;
}

.contagion-text {
  padding-left: 50px;
  padding-right: 50px;
}

/*  !SYMPTOMS*/
.symptoms {
  padding-top: 150px;
  text-align: center;
}


.symptomps-img img {
  margin: 0 auto;
}

.symptoms .section-text{
  margin-bottom: 0;
}

/*  !PREVENCION*/

.prevention{
  position: relative;
  padding-top: 150px;
  text-align: center;
}

.prevention-list {
  counter-reset: item;
}

.prevention-item {

  background-position: right center;
  padding: 154px 0;
  background-size: 470px;
  background-repeat: no-repeat;
  text-align: left;

}

.prevention-container {
  position: relative;
  padding-left: 125px;
  width: 50%;
}

.prevention-container::before {
  position: absolute;
  left: 0;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: "Red Hat Display";
  font-weight: 700;
  font-size: 44px;
  line-height: 1.45;
  text-transform: capitalize;
  color: #fa5652;
  width: 75px;
  height: 75px;
  counter-increment: item;
  content: "0" counter(item);
  border-radius: 50%;
  background-color: rgba(250, 86, 82, 0.15);

}


.prevention-item:nth-child(even) .prevention-container{
  margin-left: auto;
}

.prevention-item:nth-child(2n) {
  background-position: left center;
}

.prevention-item:nth-child(1) {
  background-image: url(../img/what-we-do/what-we-do1.png);
}
.prevention-item:nth-child(2) {
  background-image: url(../img/what-we-do/what-we-do2.png);
}
.prevention-item:nth-child(3) {
  background-image: url(../img/what-we-do/what-we-do3.png);
}
.prevention-item:nth-child(4) {
  background-image: url(../img/what-we-do/what-we-do4.png);
}

.prevention-title{
font-weight: 500;
font-size: 47px;
line-height: 1,47;
text-transform: capitalize;
color: #035755;
}

.prevention .section-text{
  width: 650px;
  margin-bottom: 0px;
}
.section-item-text{
  margin: 0;
}
/* !FORM*/
.form{
  position: relative;
  text-align: center;
  margin-top: 150px;

}

.form-input{
  position: relative;
  width: 790px;
  max-height: 115px;
  border-radius: 55px;
  padding-left: 40px;
  padding-top: 44px;
  padding-bottom: 44px;

font-size: 22px;
line-height: 1.18;
color: #758681;
}
.form .hero-button{
  position: absolute;
  width: 209px;
  height: 78px;
  border-radius: 157px;
  padding: 26px 81px;
  right:17px;
  top:-28px;
  font-size: 22px;
line-height: 1.1818;
}
.form-title{
  max-width:670px;
  font-weight: 500px;
font-size: 64px;
line-height: 1.203;
text-align: center;
margin: 0 auto;
color: #0C6C44;
margin-bottom: 62px;
}
/* FOOTER */
.footer{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.social-item svg{
  fill: #035755;
  transition: all 150ms linear 10ms;

}

svg:hover{
  fill: #F44A45;
}
.social-list{
  margin-left: 220px;
}
.social-item{
  padding-top: 40px;
  padding-bottom: 40px;
}
.social-item:not(:last-child){
  margin-right: 40px;
}
.copyright{
  text-align: center;
  font-size: 23px;
line-height: 1.217;
color: #415E56;
}